{% extends "base.html" %}
{% block content %}

<main class="max-w-7xl mx-auto my-10">
  <form
    action="/create"
    method="post"
    class="flex flex-col gap-4 max-w-md mx-auto mt-4 p-4 bg-white border border-gray-200 rounded-md"
  >
    <h1 class="text-2xl font-bold">Create Property</h1>

    <input
      required
      type="text"
      name="title"
      placeholder="Title"
      class="border border-gray-200 rounded-md p-2"
    />

    <input
      required
      type="number"
      name="price"
      placeholder="Price"
      min="0"
      step="0.01"
      class="border border-gray-200 rounded-md p-2"
    />

    <input
      required
      type="text"
      name="location"
      placeholder="Location"
      class="border border-gray-200 rounded-md p-2"
    />

    <input
      type="number"
      name="year_built"
      placeholder="Year Built"
      min="1800"
      max="2025"
      class="border border-gray-200 rounded-md p-2"
    />

    <select
      name="property_type"
      class="border border-gray-200 rounded-md p-2"
      required
    >
      <option value="" selected disabled>Select Property Type</option>
      <option value="Apartment">Apartment</option>
      <option value="House">House</option>
      <option value="Villa">Villa</option>
      <option value="Loft">Loft</option>
      <option value="Farm">Farm</option>
      <option value="Condo">Condo</option>
      <option value="Cabin">Cabin</option>
    </select>

    <textarea
      name="description"
      placeholder="Description"
      rows="6"
      class="border border-gray-200 rounded-md p-2"
      required
    ></textarea>

    <button
      type="submit"
      class="bg-gray-600 text-white px-4 py-2 rounded-md flex items-center justify-center gap-2"
    >
      <i class="bi bi-plus-lg"></i>
      Create
    </button>
  </form>
</main>

{% endblock %}
