{% extends "base.html" %}
{% block content %}

<main class="max-w-7xl mx-auto my-10">
  <h1 class="text-2xl font-bold">Property Detail</h1>

  <div
    class="bg-white border cursor-pointer group border-gray-200 rounded-md p-4 hover:shadow-md transition-all duration-300"
  >
    <div class="relative overflow-hidden rounded-md">
      <img
        src="https://picsum.photos/1000/800?random={{ property.property_id }}"
        alt="{{ property.title }}"
        class="w-full h-96 object-cover rounded-md group-hover:scale-105 transition-all duration-300"
      />
      <div
        class="absolute flex items-center gap-1 top-2 right-2 bg-gray-600 text-white px-2 py-1 rounded-md"
      >
        <span>${{ property.price }}</span>
      </div>
    </div>

    <div class="flex items-baseline justify-between gap-4 mt-4">
      <h2 class="text-lg font-bold line-clamp-1">{{ property.title }}</h2>
      <h2 class="text-sm text-gray-500 whitespace-nowrap">
        {{ property.year_built }} | {{ property.property_type }}
      </h2>
    </div>

    <p class="text-gray-500 line-clamp-3 mt-2">{{ property.description }}</p>
    <p class="text-gray-400 text-sm mt-1">Location: {{ property.location }}</p>

    <div class="flex items-center gap-2 mt-4">
      <a
        href="/edit/{{ property.property_id }}"
        class="bg-gray-600 text-white px-4 py-2 rounded-md flex items-center justify-center gap-2"
      >
        <i class="bi bi-pencil-fill"></i>
        Edit property
      </a>

      <form action="/delete/{{ property.property_id }}" method="post">
        <button
          type="submit"
          class="bg-red-600 text-white px-4 py-2 rounded-md flex items-center justify-center gap-2"
        >
          <i class="bi bi-trash-fill"></i>
          Delete property
        </button>
      </form>
    </div>
  </div>
</main>

{% endblock %}
